@import '../../variables';

.container {
  padding: 1.5rem;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  position: relative;

  &::after {
    content: url('/abstracts/circle.svg');
    width: 5rem;
    position: absolute;
    right: 0;
    bottom: -3rem;
  }

  @media screen and (min-width: $breakpoint-laptop) {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      'image title'
      'image description'
      'image social';
    column-gap: 3rem;
    &::after {
      width: 10rem;
    }
  }
}

.title {
  @media screen and (min-width: $breakpoint-laptop) {
    grid-area: title;
    justify-self: flex-start;
    align-self: flex-end;
  }
}

.description {
  font-size: 0.8rem;
  text-align: center;
  @media screen and (min-width: $breakpoint-mobile) {
    width: 60%;
  }
  @media screen and (min-width: $breakpoint-laptop) {
    grid-area: description;
    text-align: left;
    font-size: 1rem;
  }
}

.social {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  @media screen and (min-width: $breakpoint-laptop) {
    grid-area: social;
    justify-self: flex-start;
    align-self: flex-start;
    justify-content: flex-start;
  }
}

.icon {
  appearance: none;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  > img {
    display: block;
    width: 1.3rem;
    height: auto;
  }
}

.wrapper {
  width: 80%;
  max-width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  &::before {
    content: url('/abstracts/dots.svg');
    position: absolute;
    left: -3rem;
    top: 2rem;
    width: 5rem;
    z-index: 1;
  }
  @media screen and (min-width: $breakpoint-laptop) {
    grid-area: image;
    width: 100%;
    max-width: 100%;
    &::before {
      display: none;
    }
  }
}

.image {
  width: 100%;
  @media screen and (min-width: $breakpoint-laptop) {
    width: 55%;
  }
  position: relative;
}
