@import '../../variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  position: relative;

  &:nth-child(3) {
    &::before {
      content: url('/abstracts/blue-wave-line.svg');
      position: absolute;
      right: -5%;
      bottom: -60px;
      width: 90%;
      z-index: -1;
    }
  }

  &:nth-child(5) {
    &::before {
      content: url('/abstracts/bar.svg');
      position: absolute;
      left: -15px;
      bottom: -15px;
      width: 40px;
      z-index: -1;
    }
  }

  @media screen and (min-width: $breakpoint-tablet) {
    // I DO NOT WANTED TO DO THIS, PLEASE FORGIVE ME
    &:nth-child(even) {
      margin-top: 100px;
      align-self: flex-end;
    }
    &:nth-child(odd) {
      margin-top: -100px;
      align-self: flex-start;
    }
    &:nth-child(3) {
      &::before {
        content: url('/abstracts/triangle-gradient.svg');
        right: -30px;
        bottom: 120px;
        width: 60px;
        z-index: -1;
      }
    }
    &:nth-child(2) {
      &::before {
        content: url('/abstracts/blue-wave-line.svg');
        position: absolute;
        right: -5%;
        bottom: -60px;
        width: 90%;
        z-index: -1;
      }
    }
    &:nth-child(5) {
      &::before {
        content: url('/abstracts/bar.svg');
        position: absolute;
        left: -80px;
        bottom: unset;
        top: -40px;
        width: 40px;
        z-index: -1;
      }
    }
  }

  @media screen and (min-width: $breakpoint-laptop) {
    &:nth-child(6) {
      &::before {
        content: url('/abstracts/bubbles-circle.svg');
        position: absolute;
        top: 20px;
        right: -130px;
        width: 130px;
        z-index: -1;
      }
    }
  }
}

.image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  max-width: 500px;
  max-height: 400px;
}

.content {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 1rem;
}

.chip {
  padding: 0.3rem 1rem;
  font-weight: 700;
  border-radius: 4px;
  font-size: 0.8rem;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.description {
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.social {
  display: flex;
  gap: 1rem;
  > div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
}

.link {
  font-weight: 400;
  font-size: 0.8rem;
}

.icon {
  height: 0.8rem;
}
