@import '../../variables';
@import '../../keyframes';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;

  &::after {
    content: url('/abstracts/bubbles.svg');
    margin-top: 1rem;
    right: 2rem;
    position: absolute;
    width: 3rem;
    bottom: -1.2rem;
    z-index: 1;
    opacity: 0;
    animation: slideTopWithOpacityBubbles 700ms forwards;
    animation-delay: 500ms;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    &::after {
      right: 5rem;
      width: 6rem;
      bottom: -1.6rem;
    }
  }

  @media screen and (min-width: $breakpoint-laptop) {
    &::before {
      content: url('/abstracts/dots.svg');
      margin-top: 1rem;
      position: absolute;
      left: 0;
      bottom: -1.6rem;
      width: 6rem;
      z-index: 1;
    }
  }
}
