@import '../../variables';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;

  @media screen and (min-width: $breakpoint-tablet) {
    height: 70vh;
  }
}
