$primary-1: #7373ff;
$primary-2: #4e3fff;
$primary-3: #3321d9;

$white-1: #fffffe;
$white-2: #f8f8f8;
$white-3: #f1f1f1;

$gray-1: #ced4da;
$gray-2: #888888;
$gray-3: #696969;
$gray-4: #32373b;
$gray-5: #292b30;
$gray-6: #26292d;
$gray-7: #212529;

$gradient-website: linear-gradient(91.35deg, #4e3fff 7.35%, #8ef4ff 86.98%);
$gradient-system: linear-gradient(91.35deg, #e21ee2 7.35%, #ff3f3f 86.98%);
$gradient-design: linear-gradient(91.35deg, #883fff 7.35%, #e21ee2 86.98%);
$gradient-abstract: linear-gradient(
  122.56deg,
  #883fff 16.52%,
  rgba(226, 30, 226, 0) 80.43%
);
$gradient-draw: linear-gradient(180deg, #7373ff 0%, #3b28ea 100%);

$breakpoint-small-mobile: 425px;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-laptop: 1366px;
$breakpoint-desktop: 1680px;
