@import 'variables';
@import 'keyframes';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

div#__next {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
