@import '../../variables';
@import '../../keyframes';

.container {
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  padding: 2rem;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  &.open {
    grid-template-rows: 36px 1fr;
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    max-width: $breakpoint-desktop;
    grid-template-columns: 1fr 1.3fr;
  }
  @media screen and (min-width: $breakpoint-laptop) {
    grid-template-columns: 1.1fr 1fr;
  }
}

.icon {
  align-self: center;
  justify-self: flex-start;
  appearance: none;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  width: 25px;
  height: 20px;
  background-color: transparent;
  margin-right: 24px;
  &::before {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    transition: transform 500ms;
    transform: rotate(0deg);
  }
  &::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform 500ms, bottom 500ms;
    transform: rotate(0deg);
  }
  &.open {
    grid-column: 1/4;
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      bottom: 8px;
      transform: rotate(-45deg);
    }
  }
  @media screen and (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.iconCTA {
  appearance: none;
  border: none;
  background-color: transparent;
  outline: none;
  align-self: center;
  justify-self: flex-end;
  &.open {
    display: none;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.logo {
  width: 100px;
  align-self: center;
  justify-self: center;
  &.open {
    display: none;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    justify-self: flex-start;
  }
}

.buttonCTA {
  display: none;
  @media screen and (min-width: $breakpoint-tablet) {
    display: unset;
  }
}

.nav {
  display: none;
  &.open {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    animation: slideDown 500ms;
    grid-column: 1/4;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    display: flex;
    gap: 8px;
  }
}

.buttonTheme {
  &.open {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
